/* Theme Colors two main colors and text colors*/
/*Fonts*/
/*
& when (@myVariable = 'value1'), (@myVariable = 'value2') {
    background: red;
}*/
/* navigation */
.width1200 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#topNav {
  width: 100%;
  height: 180px;
  background: #2980b9;
  font-family: 'Arial', sans-serif;
  color: #fff;
  color: white;
  border-color: white;
}
/* Header above nav */
#practicelogo {
  height: 120px;
}
#navLogo {
  float: left;
  padding: 25px;
}
#navLogo .fas {
  font-size: 100px;
  color: #fff;
  color: white;
  border-color: white;
}
#headingTxt {
  padding: 50px 0 0;
}
#practiceTxt {
  margin: 0;
  font-weight: bold;
  word-wrap: break-word;
}
/* Slogan section for practice*/
#sloganTxt {
  padding-top: 5px;
  margin: 0;
  font-size: 16px;
}
#phoneNums {
  padding: 25px;
}
#navPhone,
#navPhone2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: right;
  padding: 5px;
}
.fa,
.fas {
  font-size: 125%;
}
/* Bottom Navigation bar*/
.navbar {
  width: 100%;
  height: 40px;
  min-height: 40px !important;
  background-color: #a6a6a6;
  /* Light Theme Color 2 */
  color: #fff;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  box-shadow: 0 5px 30px grey;
}
.navbar ul {
  list-style-type: none;
  text-align: center;
  margin-top: 0;
  color: black;
  border-color: black;
}
.navbar li {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: black;
  border-color: black;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 15px;
}
.navbar li::after {
  content: "|";
  font-size: 22px;
  margin-left: 15px;
  margin-right: 0;
}
.navbar li:last-child::after {
  content: none;
}
.navbar .glyphicon {
  display: none;
}
.navbar a {
  color: black;
  border-color: black;
}
.navbar a:hover {
  color: #cccccc;
}
.mainNav {
  display: block;
}
.navmenuTitle {
  display: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1000;
}
/* Sub Nav (Dropdowns) */
.dropdown > ul {
  text-align: left;
}
.dropdown-menu {
  background-color: #cccccc;
  left: -10px;
  margin: 0;
  max-height: 393px;
  overflow: scroll;
}
.dropdown-menu > li {
  width: 100%;
  padding: 0;
}
.dropdown-menu > li::after {
  content: none;
}
.dropdown-menu > li > a {
  padding: 9px 20px;
  background-color: #b3b3b3;
}
.dropdown-menu > li > a:hover {
  background-color: #cccccc;
}
/* Dropdown Menu */
.main-nav-item {
  position: relative;
}
.main-nav-item:hover .sub-nav-menu-1 {
  display: block;
}
.sub-nav-menu-1 {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  width: 100%;
  min-width: 160px;
  box-shadow: 0 5px 30px grey;
  z-index: 1;
  margin-top: 8px !important;
  margin-left: -24px;
  text-align: left !important;
}
.sub-nav-menu-1 li {
  padding: 5px;
}
/* hero image */
.heroImg {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#imgBackColor {
  background-color: #d9d9d9;
  /*#E6E6E6;*/
}
/* Tagline section under hero img*/
#tagline_section {
  background-color: #2980b9;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  border-color: white;
}
#tagline_section p {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
#tagline_section {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 5px 30px grey;
}
.mainFont {
  font-family: 'Open Sans', sans-serif;
}
.alt-content-a {
  background-color: #fff;
}
.alt-content-b {
  /*.alt-Content-B-Color(@bottomNav);*/
  color: black;
  border-color: black;
}
/*headings for the different sections */
h2 {
  margin-bottom: 40px;
}
#offpolTxt h4 {
  margin-top: 30px;
}
#offpolTxt {
  padding-right: 150px;
}
/* Image highlight section 
#highlight_section {
    background-color: blanchedalmond;
    padding-left: 20%; 
    padding-right: 20%;
    width:100%;
    text-align: center;
}*/
/* Same for all show all buttons*/
.showMorePage {
  /*font-family:'Open Sans', sans-serif;*/
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 25px;
  text-align: center;
  color: #000;
}
.showMorePage a {
  color: #000;
}
.showMorePage a:hover {
  color: #cccccc;
}
/* About section */
#aboutContent {
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
  width: 100%;
}
#aboutTxt {
  padding-right: 150px;
}
#about_img {
  width: 100%;
  margin-top: 45px;
}
/* Insurance accordion list sections */
#accordIns {
  text-align: center;
}
.accordContent {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 100%;
}
#accordIns h2 {
  text-align: left;
}
#accordIns li {
  list-style-position: inside;
  text-align: center;
}
.fullInsurance {
  /*font-family:'Open Sans', sans-serif;*/
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 25px;
}
.xpIns-item {
  display: none;
}
#moreIns-trig {
  display: block;
}
#lessIns-trig {
  display: none;
}
#moreIns-trig:hover,
#lessIns-trig:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #737373;
}
.accordion-list {
  padding-left: 0;
  float: left;
}
/* office policies section */
#offPolContent {
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
}
#cards {
  margin-left: 10px;
}
/* office policies buttons */
#buttons {
  margin-top: 70px;
}
.buttonappt {
  margin-top: 20px;
}
.cardImg {
  margin-bottom: 12px;
}
.btnimg {
  float: left;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* Patient Edu accordion list section */
#accordEdu {
  text-align: center;
}
#accordEdu h2 {
  text-align: left;
}
#accordEdu li {
  list-style-position: inside;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  color: yellow;
}
#accordEdu li a {
  color: yellow;
}
.fullContent {
  /*font-family:'Open Sans', sans-serif;*/
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 25px;
}
.xpContent-item {
  display: none;
}
#moreContent-trig {
  display: block;
}
#lessContent-trig {
  display: none;
}
#moreContent-trig:hover,
#lessContent-trig:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #737373;
}
/* -------------- location section -------------- */
#locationContent {
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
}
#locationContent p {
  margin: 0;
}
#locationInfo_addr {
  font-size: 15px;
}
#locationInfo_hrs {
  font-size: 15px;
}
#locationInfo_map {
  width: 90%;
  margin-top: 30px;
}
#locationInfo_addr td {
  padding-left: 10px;
}
#locationInfo_hrs th {
  text-align: right;
}
#locationInfo_hrs td {
  padding-left: 15px;
}
/* -------------- contact section -------------- */
#simpleContact {
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 100%;
  /*background-color: lighten(@bottomNav,20%); 
  .colorTransformBW(@bottomNav);*/
}
#simpleContact h2 {
  padding-top: 50px;
}
#phiContainer {
  background-color: #fff;
  /* Lighter Theme Color 01 */
  padding-top: 5px;
  border-radius: 5px;
  text-align: left;
  border: solid 2px #b3b3b3;
  margin-bottom: 10px;
  color: #1a1a1a;
}
#phiWidth {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#chbxPHI p {
  font-size: 15px;
}
.redaster {
  color: #ff0000;
}
#chbxPHI td {
  padding-left: 10px;
}
#sendMsg {
  background-color: #2980b9;
  color: white;
  border-color: white;
  /*.colorTransformBW(lighten(@mainNavFooter,30%));*/
  margin: 20px auto 50px;
  display: block;
}
#sendMsg:hover {
  cursor: pointer;
  background-color: #94c6e7;
  color: white;
  border-color: white;
  /*border-color: @mainNavFooterTxt;
  .colorTransformBW(@mainNavFooterTxt);*/
}
/* === Footer Menu=== */
footer {
  width: 100%;
  background-color: #2980b9;
  color: #fff;
  font-family: #fff;
  font-size: 14px;
  padding: 40px 0 30px;
  float: left;
}
footer ul {
  list-style-type: none;
  margin: 0;
}
footer a {
  color: #fff;
  color: white;
  border-color: white;
}
footer a:hover {
  color: #cccccc;
}
.footnote {
  text-align: center;
  font-size: 10px;
  padding-top: 30px;
  padding-bottom: 25px;
  margin-top: 30px;
  color: white;
  border-color: white;
}
.noPadding {
  padding: 0 !important;
}
.noMargin {
  margin: 0 !important;
}
/* === Footer Menu | Social === */
.footmenuSocial {
  display: block;
  width: 280px;
  margin: 30px auto;
}
.footmenuSocial .iconSocial {
  border: 2px solid #fff;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
}
/* media query for desktop viewport targets screen size with a minimum width of 1200px */
/*_______________________--------------------------------__________________________*/
@media (min-width: 1200px) {
  /* === Navigation === */
  #navDropdown {
    display: none !important;
  }
  /* main content after nav for desktop screens*/
  .mainContent {
    margin-top: 0px;
  }
  /* about content desktop*/
  #aboutContent {
    padding-left: 60px;
    padding-right: 60px;
  }
  /*office policies section desktop*/
  #offPolContent {
    padding-left: 60px;
    padding-right: 60px;
  }
  #buttons {
    margin-top: 40px;
  }
  /*locations section desktop*/
  #locationContent {
    padding-left: 60px;
    padding-right: 60px;
  }
  /* Contact section desktop*/
  #simpleContact {
    padding-left: 60px;
    padding-right: 60px;
  }
  #phiWidth {
    width: 75%;
  }
  .footerContent {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Landscape Tablet */
/*_______________________--------------------------------__________________________*/
@media (max-width: 1199px) {
  /* === Navigation === */
  .navbar {
    height: 50px;
  }
  .navbar .glyphicon {
    display: block;
    z-index: 100;
  }
  .navbar .glyphicon:hover {
    color: #737373;
  }
  .navmenuTitle:hover {
    color: #737373;
  }
  .navbar .glyphicon-menu-hamburger:hover {
    color: #737373;
    cursor: pointer;
  }
  .mainNav {
    display: none;
  }
  .navmenuTitle {
    display: block;
    position: absolute;
    right: 60px;
    color: black;
    border-color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 10px;
    z-index: 100;
  }
  .navmenuTitle:hover {
    color: #737373;
    cursor: pointer;
  }
  #navDropdown {
    width: 100%;
    border-bottom: 1px solid black;
  }
  #navDropdown ul {
    list-style-type: none;
    /*font-family: 'Open Sans', sans-serif;*/
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
  }
  #navDropdown li {
    text-align: center;
    /*background-color:#cccccc;  Light Theme Color 2 
    color:#000;*/
    color: black;
    border-color: black;
    color: #8d8d8d;
    background-color: #8d8d8d;
    border-top: 1px solid #000;
    text-transform: uppercase;
    padding: 10px 0;
  }
  #navDropdown li:hover {
    color: #a6a6a6;
    background-color: #a6a6a6;
  }
  #navDropdown a {
    color: #000;
  }
  .stickyDrop {
    position: fixed;
    top: 50px;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
  }
  .btnMenu {
    width: 40px;
    color: black;
    border-color: black;
    font-size: 26px;
    border: 3px solid ;
    border-radius: 6px;
    padding: 4px;
    margin-top: 3px;
    position: absolute;
    right: 10px;
  }
  .btnMenu:hover {
    /* border:3px solid #4d4d4d; Darker Theme Color 02 (default)*/
    color: #737373;
  }
  .btnHome {
    width: 40px;
    font-size: 26px;
    padding: 4px;
    margin-top: 7px;
    position: absolute;
    left: 10px;
  }
  .btnPhone {
    width: 40px;
    font-size: 26px;
    padding: 4px;
    margin-top: 7px;
    position: absolute;
    left: 60px;
  }
  .btnAppt {
    width: 40px;
    font-size: 26px;
    padding: 4px;
    margin-top: 7px;
    position: absolute;
    left: 110px;
  }
  .btnPort {
    width: 40px;
    font-size: 26px;
    padding: 4px;
    margin-top: 7px;
    position: absolute;
    left: 160px;
  }
  .btnDolo {
    width: 40px;
    font-size: 26px;
    padding: 4px;
    margin-top: 7px;
    position: absolute;
    left: 210px;
  }
  /* nav dropdown*/
  .dropdown ul {
    margin-left: 10px !important;
    padding: 0;
  }
  .dropdown .dropdown-menu li {
    padding: 0 !important;
  }
  /* Office policies mobile*/
  #offPolContent {
    padding-left: 60px;
    padding-right: 60px;
  }
}
/*_______________________--------------------------------__________________________*/
@media (max-width: 991px) {
  #tagline_section p {
    font-size: 18px;
    padding-bottom: 10px;
  }
  #buttons {
    margin-top: 35px;
  }
  #practiceTxt {
    font-size: 26px;
  }
  #navPhone {
    font-size: 16px;
  }
  #navPhone2 {
    font-size: 16px;
  }
  #sloganTxt {
    font-size: 14px;
  }
}
@media (max-width: 770px) {
  #phoneNums {
    text-align: right;
    padding: 15px;
  }
  #navPhone {
    font-size: 16px;
    display: inline-block;
  }
  #navPhone2 {
    font-size: 16px;
    display: inline-block;
  }
}
/* Landscape Mobile */
/*_______________________--------------------------------__________________________*/
@media (max-width: 767px) {
  #practiceTxt {
    font-size: 25px;
    padding-top: -30px;
  }
  #sloganTxt {
    font-size: 14px;
  }
  #phoneNums {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  /* === Navigation === */
  .navmenuTitle {
    display: none;
  }
  /*
  .btnAppt {
    display:none !important;
  }
  .btnLoc {
    display:none !important;
  }*/
  #tagline_section p {
    font-size: 16px;
  }
  #aboutTxt {
    padding-right: 0px;
  }
  #offpolTxt {
    padding-right: 0px;
  }
  footer img {
    display: block;
    margin: 0 auto 30px;
    text-align: center;
  }
  footer {
    text-align: center;
  }
}
/*_______________________--------------------------------__________________________*/
/* Midsize Responsive Troubleshooting */
@media (max-width: 639px) {
  #practicelogo {
    height: 90px;
  }
  #phoneNums {
    margin-top: 10px;
  }
  #navLogo {
    padding: 25px 0 0;
    margin-right: 10px;
  }
  #headingTxt {
    padding: 35px 0 0;
  }
  #practiceTxt {
    font-size: 24px;
  }
  #sloganTxt {
    font-size: 14px;
  }
  footer ul {
    padding: 0;
    line-height: 30px;
  }
}
/* media query for mobile viewport targets screen size with a minimum width of 480 */
/*_______________________--------------------------------__________________________*/
@media (max-width: 480px) {
  #practicelogo {
    height: 80px;
  }
  #phoneNums {
    margin-top: 10px;
  }
  #navPhone {
    font-size: 14px;
  }
  #navPhone2 {
    font-size: 14px;
  }
  #navLogo {
    padding: 25px 0 0;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  #headingTxt {
    padding: 35px 0 0;
  }
  #practiceTxt {
    font-size: 20px;
  }
  #sloganTxt {
    font-size: 14px;
  }
  #highlight_section {
    display: none;
  }
  /* About section mobile*/
  #aboutContent {
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #aboutTxt {
    padding-right: 10px;
  }
  /*  insurance accord section mobile */
  .accordContent {
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #accordContent h2 {
    text-align: left;
  }
  /* Office policies mobile*/
  #offPolContent {
    padding-left: 30px;
    padding-right: 30px;
  }
  #buttons {
    margin-top: 20px;
  }
  .btnimg {
    float: none;
  }
  #offhrs {
    margin-top: 30px;
  }
  /*  location section mobile*/
  #locationContent {
    padding-left: 30px;
    padding-right: 30px;
  }
  /*  contact section mobile */
  #simpleContact {
    padding-left: 30px;
    padding-right: 30px;
  }
  #chbxPHI p {
    font-size: 13px;
  }
  #phiWidth {
    width: 100%;
  }
}
@media (max-width: 400px) {
  #navLogo {
    margin-bottom: 0;
  }
}
/*_______________________--------------------------------__________________________*/
@media (max-width: 320px) {
  #practiceTxt {
    font-size: 16px;
  }
  #phoneNums {
    margin-top: 0px;
  }
  #navPhone {
    font-size: 13px;
  }
  #navPhone2 {
    font-size: 13px;
  }
  #sloganTxt {
    font-size: 12px;
  }
}
